
  table {
    display: table-cell;
    vertical-align: inherit;
    text-align: left;
    border-bottom: 100px;
    padding-right: 2px;
    font-size: medium;
    border-style: groove;
    border-width: thin;
    border-radius: 5px;
    box-shadow: inset 0 0 2px #000000;
}
th {
    display: table-cell;
    vertical-align: inherit;
    text-align: left;
    padding-right: 5px;
    background-color: rgb(194, 193, 193);
    padding-bottom: 5px;
    padding-top: 5px;
}
td {
  display: table-cell;
  background-color: rgb(230, 230, 230);
  font-size: medium;
  padding-bottom: 5px;
  padding-top: 5px;
}

.box {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
  background: rgb(245, 245, 245);
  border-radius: 5px;
}